<p>
  <strong>Doctor:</strong>
  <%= @employment.doctor.name %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @employment.hospital.name %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
